.cookie{
    cursor: pointer;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    position: fixed;
    bottom: 0px;
    align-content: center;
    background-color: white;
    z-index: 99;
    align-content: space-between;
    --tw-bg-opacity: 0;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;   
    align-items: center;
    justify-content: space-between;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1), 0px -3px 10px rgba(0, 0, 0, 0.06);

}

.cookie h1 {
    font-size: 23px;
    padding-bottom: 5px;
    line-height: 20px;
}

.cookie p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: .8px;
    margin-bottom: 10px;
}

.cookie a {

    color: #003da5;
    font-weight: 500;

}

.cookie button{

    margin-bottom: 10px;

}


@media (orientation: portrait) {
    .cookie{
        

    }


}
