
.primary{
    background-color: #003da5;
    padding: 5px;
    color: white;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
}

.disabled{
    background-color: #c4c6c8;
    padding: 5px;
    color: #FFFFFF;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
}

.secondary{
    background-color:  red;
    padding: 5px;
    color: #FFFFFF;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
}

.ordinary{
    background-color:  #FFFFFF;
    padding: 5px;
    color: red;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: auto;
}


.primary > span, .secondary > span, .disabled > span, .ordinary > span{
    line-height: 20px;
    width: 15px;
    margin-right: 4px;
    margin-top: 2px;
}

