
.houseAd{
    background-image: 
    linear-gradient(90deg,hsla(0,0%,100%,0) 40%,hsla(0,0%,100%,.85) 60%),
    url('./../public/07_Worldwide.jpeg');
    height: 22rem;
    background-size: cover;
}

.houseAd2{
    background-image: 
    linear-gradient(270deg,hsla(0,0%,100%,0) 40%,rgba(7, 3, 3, 0.699) 60%),
    url('./../public/08_Commercial.jpeg');
    height: 22rem;
    background-size: cover;

}

.houseAd3{
    background-image: 
    linear-gradient(90deg,rgba(30,53,94,0) 40%,rgba(30,53,94,.75) 60%),
    url('./../public/09_Collection.jpeg');
    height: 22rem;
    background-size: cover;

}


