.label{
    font-family: Montserrat,sans-serif;
    font-size: .688rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25rem;
    letter-spacing: .5px;
    display: block;
    margin-top: 1rem;
    color: #40404193;
}