
.container {
    padding: 0 5rem;
}

.container p {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    color: #404041;
}

.hearderBgImage {
    background-image: url('./../public/NEW_20_303090_remaxcom-homepage.jpeg');
    height: 30rem;
    background-size: cover;
    overflow: hidden;
}

.headercontent{
    display: flex;
    position: relative;
    height: 86.7%;
}

.headerbox {
    background-color: white;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}



.colorMix {
    background-color: rgba(37, 99, 235);
    width: 350px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    mix-blend-mode: multiply;
    transform: rotate(14deg);      

}

.colorMix .innerColorMix {
    background-color: rgb(1, 32, 100);
    mix-blend-mode: normal;
    width: 300px;
    height: 500px;
}

.colorMix .innerColorMix2 {
    background-color: rgb(1, 32, 100);
    width: 300px;
    height: 500px;
    margin-left: 50px;
}


.left{
    left: -350px;
    top: -50px;

    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;

}

.right{
    right: -350px;
    top: -30px;
    -webkit-animation: slideright 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideright 0.5s forwards;
    animation-delay: 2s;

}

.searchBox {
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
    background: radial-gradient(ellipse at center,rgba(0,0,0,.5) 0,transparent 50%,transparent 100%);
    padding-top: 10%;
}

.searchBox p{
    color: white;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}
.searchBox h1{
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: .078125rem;
    text-align: center;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
    padding-bottom: 10px;
}

.innerSearchBox {
    display: flex;
    width: 100%;
}

.innerSearchBox input {
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

.innerSearchBox .placeholder {
    width: 90%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    background-color: white;
}

.innerSearchBox .placeholder p{
    text-shadow: none;
    text-align: start;
    font-size: 17px;
    color: rgba(107, 114, 128);
    padding: 10px;
}

.innerSearchBox .placeholder span{
    color: rgba(30, 58, 138);	
}

.innerSearchBox button {
    height: 45px;
    width: 45px;
    color: white;
    background-color: rgba(37, 99, 235);
    padding: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.footer{
    min-height: 10rem;
    --tw-bg-opacity: 1;
    background-color: rgba(30, 58, 138, var(--tw-bg-opacity));	
    padding: 20px;
}

.footer .bottom{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;

}

.footer .info p {
    color: whitesmoke;
    font-size: 12px;
}

.socialTop {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.footer .bottom .socialTop button{
    color: whitesmoke;
    background-color: transparent;
    width: 25px;
}
.footer .socialBottom{
    display: flex;
    padding: 5px;
    justify-content: space-between;

}

.footer .socialBottom a {
    color: whitesmoke;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}


.title {
    font-size: 28px;
    line-height: 34px;
    color: #404041;
    padding: 5px;
    padding-left: 0px;
}


@media (orientation: portrait) {
    .header-box {
        padding: 10px;
    }
    .footer .bottom{
        display: block;
    }

    .footer .bottom .info{
        margin-bottom: 20px;
    }

    .footer .bottom .social .socialTop {
        justify-content: flex-start;
    }

    .footer .bottom .social .socialTop >*{
        margin-right: 20px;

    }
    .footer .bottom .social .socialBottom {
        justify-content: flex-start;
    }
    .footer .bottom .social .socialBottom >*{
        margin-right: 20px;
    }

    .colorMix {
        display: none;
    }

    .searchBox {
        width: 80%;
        align-items: center;
        margin-top: 35%;
    }
  }


@-webkit-keyframes slide {
    100% { left: -250px; }
}

@keyframes slide {
    100% { left: -250px; }
}

@-webkit-keyframes slideright {
    100% { right: -250px; }
}

@keyframes slideright {
    100% { right: -250px; }
}


  