.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    align-content: center;

  }
  
  /* Modal Content/Box */
  .modalContent {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border: none;
    min-width: 45%; /* Could be more or less, depending on screen size */
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
          
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  