.sliderBody .slider .innerBox{
    display: flex;
    padding: 20px;
    align-items: center;
    height: 90%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
}

.sliderBody .slider .innerBox button{
    width: 10px;    
} 

.sliderBody .slider .innerBox span:first-child{
    padding-left: 9px;
    left: 0
}

.sliderBody .slider .innerBox span:last-child{
    position: absolute;
    right: 20px;
}

.sliderBody .slider .innerBox span{
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 4px;    
}

.sliderBody .slider .innerBox .img{
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    overflow: hidden;
    height: 90%;
    margin-left: 25px;
    width: 100vw;

}

.sliderBody .slider .innerBox .img{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 5px;
    padding-left: 10px;

}

.sliderBottom {
    padding: 0px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}
