.popup{
    cursor: pointer;
    margin-left: 20px;
    display: block;
    opacity: .75;
    vertical-align: bottom;
    width: 350px;
    position: absolute;
    bottom: 50px;
    align-content: center;
    background-color: transparent;
    z-index: 1;
    align-content: space-between;
    --tw-bg-opacity: 0;
    -webkit-tap-highlight-color: transparent;

}

.image{
    float: left;
    width: 80px;
    height: 80px;
    background-color: white;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.textbox{
    height: 80px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 73%;
    float: right;
}

.textbox p {
    font-size: 15px;
    color: #474BA5;
    float: left;
    width: 90%;
}

.textbox span {
    font-size: 15px;
    color: #474BA5;
    float: right;
}