.subheader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid grey;
    overflow-x: auto;
    background-color: white;
}

.subheader nav ul{
    height: 100%;
}

.subheader nav li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    padding: .5rem;
    font-size: 14px;
    height: 100%;

}

.subheader nav li:hover{
    border-bottom: 3px solid rgba(37, 99, 235);
    color: rgba(37, 99, 235);
}

.subheader .leftnav{
    margin-right: 15px;
    display: flex;
    width: auto;
}

.subheader .leftnav button{
    color: rgba(37, 99, 235);
    text-transform: uppercase;
    font-size: 13px;
}

.subheader .leftnav button:first-child{
    background-color: red;
    padding: 5px;
    color: white;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
}


.subheader .leftnav button span{
    margin-left: 5px;
}

.subheader .leftnav button:nth-child(2){
    display: flex;
    width: 80px;
    padding: 5px;
    padding-top: 15px;
    line-height: 27px;
    justify-content: space-between;
    margin-top: -6px;
    margin-right: 5px;

}

.subheader .leftnav button:last-child{
    width: 28px;
    padding-top: 10px;
    margin-top: -6px;

}

.main p{
    font-size: 15px;
    font-weight: 200;

}

.titleBox {
    padding: 20px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.main .titleBox h4 {
    display: flex;
    justify-content: space-between;
}

.main .titleBox .right h4{
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    color: rgba(37, 99, 235);
    font-size: 13px;
}
.main .titleBox .right h4 span{
    margin-left: 7px;
}

.main .titleBox h1{
    font-size: 30px;
}

.pictureBox{
    display: flex;
    height: 30rem;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.pictureBox .pictureOne{
    width: 57%;
    height: 100%;
    position: relative;
}
.pictureBox .pictureOne img {
    width: 100%;
    height: inherit;
    border-radius: 5px;
}

.pictureBox .pictureOne button:first-child{
    position: absolute;
    top: 15px;
    left: 15px; 
    border: 1px solid red;  
    border-radius: 3px; 
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pictureBox .pictureOne button:last-child {
    position: absolute;
    bottom: 15px;
    left: 15px; 
    border: 1px solid white;  
    border-radius: 3px; 
}

.pictureBox .otherPictures{
    width: 42%;
    height: 100%;
    padding-left: 10px;
}

.pictureBox .otherPictures img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.houseInfoBox {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 3.2rem;
    padding-right: 3.4rem;
    font-size: 15px;


}

.houseInfoBox .info {
    width: 65%;
}



.houseInfoBox .request {
    width: 31%;
}
.houseInfoBox .request a{
    color: rgba(37, 99, 235);
    cursor: pointer;
}

.houseInfoBox .request a:hover{
    text-decoration: underline;
}

.mybox {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1rem;
  }
  
 .mybox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    margin-top: 4px;
  }
  
.mybox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
.mybox input:checked ~ .checkmark {
    background-color: rgba(128, 128, 128, 0.712);
  }
  
.mybox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  

.mybox input:checked ~ .checkmark:after {
    display: block;
}

.mybox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio {
    padding-left: 2.5rem;
    font-weight: 200;

}

.radio input{
    margin-right: 3px;
}
  
.radio span{
    margin-right: 20px;
    font-size: 14px;
}


.houseInfoBox .request p{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 200;

}

.houseInfoBox .request .carTitle{
    display: flex;
    border-bottom: 2px solid gray;
    height: 30px;
    padding-bottom: 3px;
}


.main .detailBox{
    background-color: white;
    padding: 3.2rem;
}

.main .detailBox .innerDetailBox p{

    font-size: 13px;
    font-weight: lighter;
}

.main .detailBox .innerDetailBox {
    display: flex;
    border-top: 1px solid rgba(219, 218, 218, 0.918);
    padding-top: 30px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.main .detailBox .innerDetailBox p:first-child{
    font-size: 13px;
}

.main .detailBox .innerDetailBox >*{ 
    width: 30%;
}

.detailBox .company .companyInfoTop{
    display: flex;
    justify-content: space-between;
    color: #404041c0;
}

.detailBox .company .companyInfoTop div{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 10px;
}
.detailBox .company .companyInfoTop div p{
    padding-left: 15px;
}
.detailBox .company p{
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    color: #404041c0;

}


.detailBox .company .companyInfoBottom {
    display: flex;
    justify-content: space-between;
}
.detailBox .company .companyInfoBottom img{
    padding: 55px;
}

.comparingBox {
    padding: 3.2rem;
}

.schoolBox {
    background-color: white;
    padding: 3.2rem;
}

.schoolBox table{
    width: 100%;
    color: #7f7f83;
}


.schoolBox table thead{
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 11px;
    padding: 5px;
    font-weight: lighter;
}

.schoolBox table thead tr td{
    padding: 10px;
    color: #7f7f83c0;

}

.schoolBox table thead tr td:last-child{
    text-align-last: right;
}

.schoolBox table thead tr td:nth-child(3){
    text-align-last: center;
}


.schoolBox table tbody tr td{
    padding: 10px;
}

.schoolBox table tbody tr td:last-child{
    text-align-last: right;
}

.schoolBox table tbody tr td:nth-child(3){
    text-align-last: center;
}

.statBox {
    padding: 3.2rem;
}

.statBox .transport{
    display: flex;
}

.statBox .transport div:first-child{
    border-right: 2px solid grey;
}

.statBox .transport div:last-child{
    padding-left: 20px;
}

.statBox .transport >*{
    width: 50%;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.statBox .transport h4 {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;

}

.statBox .transport span {
    border-radius: 50px;
    font-weight: 800;
    padding: 8px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: white;
    font-size: 14px;
    margin: 5px;

}

.statBox .transport div:first-child span{
    background-color: orange;
}

.statBox .transport span:last-child {
    background-color: green;
}


.statBox .transport p {
    margin-top: 30px;
}

.statBox .demo{
    display: flex;
}

.statBox .demo >*{
    width: 25%;
    padding-left: 20px;
    border-right: 2px solid #40404169;
}

.statBox .demo div:last-child{
    border-right: none;
}


.mortgage {
    padding: 3.2rem;
    background-color: white;
}

.mortgage p{
    font-size: 14px;
    color: #404041c0;
    line-height: 25px;
}

.mortgage .calculator{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.mortgage .calculator .myprogress {
    width: 20%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 2rem;
}

.mortgage .calculator .form {
    width: 67%;
}


.history {
    padding-top: 6rem;
    
}

.history table{
    width: 100%;
    color: #7f7f83;
    
}


.history table thead{
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 11px;
    padding-bottom: 5px;
}

.history table thead tr td{
    padding-bottom: 10px;
    color: black;
    font-size: 13px;
}

.history table thead tr td:last-child{
    text-align-last: right;
    width: 5%;
}

.history table thead tr td:nth-child(5){
    text-align-last: right;
    width: 5%;
}

.history table thead tr td:nth-child(4){
    width: 50%;
}


.history table tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

}

.history table tbody tr td:last-child{
    text-align-last: right;
    width: 5%;
}

.history table tbody tr td:nth-child(5){
    text-align-last: right;
    width: 5%;
}


@media (orientation: portrait) {
    .subheader {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }

    .subheader .leftnav{
        display: none;
    }    

    .pictureBox {
        display: block;
        width: auto;
    }

    .pictureBox .pictureOne {
        width: 100%;
    }

    .pictureBox .otherPictures {
        display: none;
    }

    .houseInfoBox {
        display: block;
    }
    
    .houseInfoBox .info {
        width: 100%;
        padding-bottom: 4rem;
    }
    .houseInfoBox .request {
        width: 100%;
    }

    .detailBox .company .companyInfoTop{
        display: block !important;
    }

    .detailBox .company .companyInfoTop div{
        padding-bottom: 10px;
    }

    .detailBox .company .companyInfoTop div p{
        padding-left: 0px;   
    }
    
    .detailBox .company p{
        font-size: 14px;
    }
    
    
    .detailBox .company .companyInfoBottom {
        display: block;
    }
    .detailBox .company .companyInfoBottom img{
        padding: 55px;
        width: 100%;
    }

    .mortgage .calculator{
        display: block;
    }
    
    .mortgage .calculator .myprogress {
        width: 70%;
        padding-left: 1rem;
        padding-right: 1.5rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    
    .mortgage .calculator .form {
        width: 100%;
    }

    .mortgage .calculator .form .grid{
        display: contents !important;
    }

    .mortgage .calculator .mygrid{
        display: block !important;
        width: auto;
    }

    .statBox .transport{
        display: block;
    }
    
    .statBox .transport div:first-child{
        border-right: none;
    }
    
    .statBox .transport div:last-child{
        padding-left: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .statBox .transport >*{
        width: 100%;
    }

    .statBox .demo{
        display: block;
    }
    
    .statBox .demo >*{
        width: 100%;
        border-right: none;
        margin-top: 15px;
        margin-bottom: 15px;

    }

    .statBox .demo h1 {
        margin-top: 5px;
    }

    .history {
        overflow: auto;
    }

    .history table{
        overflow: scroll;
        width: 1000px;
    }
    
    
    
    
    
  }








