.sliderHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.sliderHeader p{
    font-size: 13px;
    font-weight: lighter;

}

.sliderHeader .leftnav{
    display: flex;
    width: auto;
}

.sliderHeader .leftnav button{
    color: rgba(37, 99, 235);
    text-transform: uppercase;
    font-size: 13px;
    width: 40px;
    margin-right: 25px;

}

.sliderHeader .leftnav button:nth-child(2){
    width: 22px;
    margin-top: 5px;
}

.sliderHeader .leftnav button:nth-child(3){
    background-color: red;
    padding: 5px;
    color: white;
    height: 32px;
    justify-self: center;
    margin-top: 6px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
}


.sliderHeader .leftnav button span{
    margin-left: 5px;
}

.sliderHeader .leftnav button:first-child{
    display: flex;
    padding: 5px;
    padding-top: 15px;
    line-height: 27px;
    justify-content: space-between;
    margin-top: -6px;
}

.sliderHeader .leftnav button:last-child{
    width: 30px;
    height: 30px;
    margin-right: 0px;
    border: 1px solid gray;
    align-self: center;
    border-radius: 5px;
    color: gray;
    font-size: 15px;
}

.sliderBody {
    display: flex;
    width: 100%;
}

.sliderBody p{
    font-size: 13px;
    font-weight: lighter;
}


.sliderBody .gallery {
    width: 25%;
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
    height: 79vh;
    overflow: overlay;
    padding-top: 30px;
    padding-bottom: 20px;
}  

.sliderBody .slider .hide{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    align-self: center;
    border-radius: 5px;
    color: gray;
    font-size: 15px;
    left: -17px;
    background-color: white;
    top: 30px;
    padding: 6px;

}

.sliderBody .slider {
    width: 75%;
    overflow: none;
    border-left: 1px solid gray;
    position: relative;

}

.sliderBody .slider .innerBox{
    display: flex;
    padding-top: 0;
    align-items: center;
    height: 80%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
}

.sliderBody .slider .innerBox button{
    width: 10px;    
} 

.sliderBody .slider .innerBox span:first-child{
    padding-left: 9px;
    left: 0
}

.sliderBody .slider .innerBox span:last-child{
    position: absolute;
    right: 20px;
}

.sliderBody .slider .innerBox span{
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 4px;    
}

.sliderBody .slider .innerBox .img{
    align-items: center;
    justify-items: center;
    margin-top: -40px;
    overflow: hidden;
    height: 80%;
    margin-left: 25px;
    width: 100vw;

}

.sliderBody .slider .innerBox .img{
    padding-left: 20px;
    padding-right: 30px;
    padding-left: 10px;

}

.sliderBottom {
    padding: 0px;
    margin-top: -20px;
    padding-left: 40px;
    padding-right: 40px;
}
