.textarea {
    border-radius: 3px;
    border-color: #c4c6c8;
    font-family: Montserrat,sans-serif;
    line-height: 1.25rem;
    padding: 5px 8px;
    letter-spacing: .5px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    font-size: .875rem;
    color: #404041;

}

.textarea::placeholder{
    color: rgba(128, 128, 128, 0.459);
    letter-spacing: 1px;

}